<div class="screen LoginLayout" style="display: none;" data-bind="css: {'with_bottom_text': sBottomInfoHtmlText !== ''}">
	<div class="login_panel login">
		<div class="login_panel_content" style="backface-visibility: inherit;">
			<div class="header" data-bind="css: {'custom_logo': sCustomLogoUrl}">
				<!-- ko if: sCustomLogoUrl === '' --><span class="icon"></span><!-- /ko -->
				<!-- ko if: sCustomLogoUrl !== '' --><img data-bind="attr: {'src': sCustomLogoUrl}"/><!-- /ko -->
				<span class="text" data-bind="i18n: {'key': 'COREWEBCLIENT/HEADING_REGISTER'}"></span>
			</div>
			
			<div class="welcome" data-bind="html: welcomeText"></div>
			
			<div class="content login clearfix">
				<form class="form fields" action="#" autocomplete="on" onsubmit="return false;" data-bind="command: registerCommand">
					
					<!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
					<div style="width: 0px; height: 0px; overflow: hidden;">
						<input type="text" name="fakeusernameremembered"/>
						<input type="password" name="fakepasswordremembered"/>
					</div>
					
					<div class="fieldset">
						<div class="row login" data-bind="css: {'focused': loginFocus(), 'filled': login().length > 0, shake: shake()}">
							<label for="selenium_register_login" class="placeholder"></label>
							<span class="value">
								<input id="selenium_register_login" tabindex="1" class="input" name="login" type="text" spellcheck="false"
									   data-bind="value: login, hasfocus: loginFocus, valueUpdate: 'afterkeydown', 
										i18n: {'key': 'COREWEBCLIENT/LABEL_LOGIN', 'type': 'placeholder'}, enable: enableLoginEdit" />
							</span>
						</div>
						<div class="row password" data-bind="css: {'focused': passwordFocus(), 'filled': password().length > 0, shake: shake()}">
							<label for="selenium_register_password" class="placeholder"></label>
							<span class="value">
								<input id="selenium_register_password" tabindex="2" class="input" name="password" autocomplete="new-password" type="password" spellcheck="false"
									   data-bind="value: password, hasfocus: passwordFocus, valueUpdate: 'afterkeydown', i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD', 'type': 'placeholder'}" />
							</span>
						</div>
						<div class="row password" data-bind="css: {'focused': confirmPasswordFocus(), 'filled': confirmPassword().length > 0, shake: shake()}">
							<label for="selenium_register_confirm_password" class="placeholder"></label>
							<span class="value">
								<input id="selenium_register_confirm_password" tabindex="2" class="input" name="confirmPassword" autocomplete="new-password" type="password" spellcheck="false"
									   data-bind="value: confirmPassword, hasfocus: confirmPasswordFocus, valueUpdate: 'afterkeydown', i18n: {'key': 'COREWEBCLIENT/LABEL_CONFIRM_PASSWORD', 'type': 'placeholder'}" />
							</span>
						</div>
					</div>
					<div class="row buttons">
						<button type="submit" tabindex="3" class="button login" data-bind="text: registerButtonText, command: registerCommand"></button>
					</div>
					{%INCLUDE-START/Register-After/INCLUDE-END%}
				</form>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="vhelper"></div>
	<div class="bottom_description" data-bind="visible: sBottomInfoHtmlText !== '', html: sBottomInfoHtmlText"></div>
</div>
