<div class="popup" style="display: none;">
	<div class="mask"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<div class="fields">
			<h1 class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENTER_PIN'}"></h1>
			<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_PIN'}"></div>
			<div class="fieldset list-block">
				<div class="item-content">
					<div data-bind="css: {'item-inner': isMobile(), 'row': !isMobile()}">
						<span class="item-title label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PIN'}"></span>
						<input class="value input" type="text" spellcheck="false" maxlength="255" data-bind="value: pin, hasFocus: pinFocused" />
					</div>
				</div>
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VERIFY_PIN'}, click: verifyPin, visible: !inPropgress()"></span>
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VERIFY_PIN_IN_PROGRESS'}, visible: inPropgress()"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
