<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row" style="margin-bottom: 4px;">
				<span class="value">
					<label class="custom_checkbox" data-bind="css: {'checked': autocreateMailAccountOnNewUserFirstLogin}">
						<span class="icon"></span>
						<input type="checkbox" id="autocreateMailAccountOnNewUserFirstLogin" data-bind="checked: autocreateMailAccountOnNewUserFirstLogin" />
					</label>
					<label for="autocreateMailAccountOnNewUserFirstLogin" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ALLOW_AUTO_PROVISIONING_NEW_USERS'}"></label>
				</span>
			</div>
			<div class="row hint" style="margin-left: 22px;">
				<span class="value" data-bind="i18n: {'key': '%MODULENAME%/LABEL_HINT_ALLOW_AUTO_PROVISIONING_NEW_USERS_HTML', 'type': 'html'}"></span>
			</div>
			
			<div class="row" data-bind="visible: allowMultiAccounts">
				<span class="value">
					<label class="custom_checkbox" data-bind="css: {'checked': allowAddAccounts}">
						<span class="icon"></span>
						<input type="checkbox" id="allowAddAccounts" data-bind="checked: allowAddAccounts" />
					</label>
					<label for="allowAddAccounts" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ALLOW_USERS_ADD_MAILBOXES'}"></label>
				</span>
			</div>
			
			<div class="row" data-bind="visible: bAllowHorizontalLayout">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_DEFAULT_LAYOUT'}"></span>
				<select class="value input" data-bind="options: aLayoutValues, value: horizontalLayoutByDefault, optionsText: 'text', optionsValue: 'value'"></select>
			</div>
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: save, visible: !isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
	</div>
</div>
