msgid ""
msgstr ""
"Content-Transfer-Encoding: 8bit\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Language: $name\n"


msgid "Settings was successfully saved!"
msgstr ""

msgid "Theme"
msgstr ""

msgid "Default"
msgstr ""

msgid "User selectable Themes"
msgstr ""

msgid "No Themes available!"
msgstr ""

msgid "Please install some Themes."
msgstr ""
