<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SEND_KEY'}"></span>
		<div class="fields">
			<div class="row" style="margin-bottom: 16px;">
				<span class="value hint" data-bind="text: sSendKeyText"></span>
			</div>
			<div class="buttons">
				<span class="button button-raised" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SEND'}, click: sendKey"></span>
				<span class="button button-raised secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
