<!-- ko if: visible -->
<div class="fieldset">
	<div class="row hint">
		<span data-bind="i18n: {'key': '%MODULENAME%/INFO_SET_PASSWORD'}"></span>
	</div>
	
	<div class="row">
		<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD'}"></span>
		<span class="value">
			<input class="input" autocomplete="new-password" type="password" data-bind="value: password, hasfocus: passwordFocus" />
		</span>
	</div>
	<div class="row">
		<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_CONFIRM_PASSWORD'}"></span>
		<span class="value">
			<input class="input" autocomplete="new-password" type="password" data-bind="value: confirmPassword, hasfocus: confirmPasswordFocus" />
		</span>
	</div>
	
	<div class="row buttons" style="text-align: left; margin-bottom: 0;">
		<span class="button" data-bind="click: setPassword">
			<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SET_PASSWORD'}"></span>
		</span>
	</div>
</div>
<!-- /ko -->