<div class="fields">
	<div class="fieldset">
		<div class="folders items_list">
			
			<!-- ko if: !showMovedWithMouseItem() -->
				<!-- ko template: {name: '%ModuleName%_Settings_AccountFolderItem', foreach: collection} --><!-- /ko -->
			<!-- /ko -->
			
			<!-- ko if: showMovedWithMouseItem() -->
			<div data-bind="sortable: {data: collection, connectClass: 'first_sortable_container', 
				 afterMove: afterMove, options: {axis: 'y', revert: false}}">
				<div data-bind="attr: {'class': 'item canSelect canDrag folder-level' + (getDisplayedLevel() + 1)}, visible: !bVirtual, 
					 template: { name: '%ModuleName%_Settings_AccountFolderItemMovedWithMouse'},
					 css: {'canSubscribe': canSubscribe, 'canRename': canRename, 'canDelete': canDelete}"></div>
			</div>
			<!-- /ko -->
			
			<div class="item canSelect total">
				<span class="title">
					<span class="count" data-bind="text: totalMessageCount, css: {'allow-template-folders': bAllowTemplateFolders}"></span>
					<span class="name">
						<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_TOTAL'}"></span>
					</span>
				</span>
			</div>
		</div>

		<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/INFO_DELETING_NONEMPTY_FOLDERS'}, css: {'highlight': highlighted}"></div>
		<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/INFO_SETUP_SPECIAL_FOLDERS'}"></div>
		<div class="buttons">
			<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_ADD_NEW_FOLDER'}, command: addNewFolderCommand"></span>
			<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SETUP_SPECIAL_FOLDERS'}, command: setSystemFoldersCommand"></span>
		</div>
		<div class="buttons">
			<span class="button" data-bind="i18n: {'key': 'IMPORTEXPORTMAILPLUGIN/IMPORT_EXPORT_BUTTON'}, click: importExport, visible: allowImportExport"></span>
		</div>
		{%INCLUDE-START/Account-Folders-After-Buttons/INCLUDE-END%}
	</div>
</div>
