<div class="fields">
	<div class="fieldset">
		<div class="row">
			<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_YOUR_NAME'}"></span>
			<input class="value input" spellcheck="false" type="text" data-bind="value: friendlyName, valueUpdate: 'afterkeydown', onEnter: save, hasFocus: friendlyNameHasFocus"/>
		</div>
		<div class="row remove_account" data-bind="visible: !disableRemoveAlias()">
			<span class="link" data-bind="i18n: {'key': '%MODULENAME%/ACTION_REMOVE_ALIAS'}, click: remove"></span>
		</div>
	</div>

	<div class="buttons">
		<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}, click: save, visible: !isSaving()"></span>
		<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
	</div>
</div>
