<div class="panel_center">
	<div class="fields">
		<div class="fieldset" data-bind="visible: showChangePasswordButton">
			<div class="row">
				<b class="value" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></b>
			</div>
			<div class="row hint">
				<span class="value" data-bind="text: changePasswordHintText"></span>
			</div>
			<div class="buttons" style="text-align: left;">
				<span data-bind="click: changePassword" class="button">
					<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CHANGE_PASSWORD'}"></span>
				</span>
			</div>
		</div>
	</div>
</div>
