<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_ABOUT_SETTINGS'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_NAME'}"></span>
				<span class="value" data-bind="text: sProductName"></span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRODUCT_VERSION'}"></span>
				<span class="value" data-bind="text: sVersion"></span>
			</div>
		</div>

		<div class="buttons">
		</div>
	</div>
</div>